body {
  background: url('../images/bg2.jpg') center center;
  background-size: auto;
  
}

header {
  background: blue;
  color: white;
  font-family: 'Aleo', serif;

}
.margin-text {
  margin-top: 20px;
}

.form-bor { 
  margin: 20px;
  padding: 20px;
  border-width: 2px;
  border-color: black;
}


.text-details {
  font-size: 18px;
  font-family: 'Work Sans',
    sans-serif;
  margin-bottom: 20px;
}

footer {
  background: #3f3f3f;
  color: #fff;
}

#desc{
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-shadow: 2px 2px 8px rgba(4, 0, 255, 0.4);
  font-weight: bold;
}

#title,#tag-line{
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

h5{
  text-shadow: 2px 2px 8px rgb(251, 251, 251);
}

#inst{
  font-weight: bold;
  
}
