body {
  background: url('../images/bg2.jpg') center center;
  background-size: auto;

}

header {
  background: blue;
  color: white;
  font-family: 'Aleo', serif;

}
.margin-text {
  margin-top: 20px;
}

.form-bor {
  margin: 20px;
  padding: 20px;
  border-width: 2px;
  border-color: black;
}


.text-details {
  font-size: 18px;
  font-family: 'Work Sans',
    sans-serif;
}

footer {
  background: #3f3f3f;
  color: #fff;
}